/* ==========================================================================
   Medium Stylesheet (640 - 1024)
   ========================================================================== */







/* ==========================================================================
   Debug Styles
   ========================================================================== */
#debug-message {
    background: lightblue;
    .small, .large, .exlarge {
        display: none;
    }
    .medium {
        display: block;
    }
}